.page{
	width:1027px;
	margin: 6% 10% 0px 8%;
	padding-bottom:100px;
	position:absolute;
	}
div{
	display:block;
}	
body{
	background-color: #e9e8e4;
}

.countvalue{
	background-color:#fa3e3e;
	border-radius:2px;
	color:#fff;
	padding: 1px 4px;
	margin:18px 10px 20px -5px;
	font-size:10px;
	z-index:1;
	position:absolute;
	text-align:center;
}
#bell {
	margin-top:26px;
	-webkit-transform: rotate(-45deg);
}
.bell{
	/*background-color: #4d75a3;*/
	width:6.3%;
	color:white;
	margin-left:153px;
	margin-top:-70px;
	text-align:center;
	position:relative;
	height:70px;
	border-right:#406289 solid 1px;
}
.topbar_box {
	
}
.topbar{
	background-color: #4d75a3;
	margin:0px;
    border: 1px solid #4d75a3;
    border-radius: 5px 5px 0 0;
    padding: 0;
	height:70px;
	text-align:center;
	}
ul.hr {
    margin: 0;
    padding: 25px; 
	text-align:center;
	font-size:18px;
	font-family:DejaVu Sans;
   }
.hr span{
	border-bottom:#4d75a3 solid 4px;
	padding-bottom:21px;
}  
.dialog{
	color:#667a90;
	
	} 
ul.hr li {
    display: inline;
    margin-right: 5px;
    padding: 17px; 
	color:#97a4b1;
}
.secondarybar{
	background-color: white;
	margin:0px;
    border-radius: 0 0 5px 5px;
    padding: 0;
	height:70px;
	box-shadow: 0.5px 1px 0 1px rgba(0,0,0,0.1);
    }
#icon{
	margin-top:24px;
	background-color: #4d75a3;
}
.gr{
	border-right:#406289 solid 1px;
	width:6.3%;
	color:white;
	height:70px;
	text-align: center;
	margin-left:217px;
	margin-top:-70px;
}
.mess{
	border-right:#406289 solid 1px;
	width:6.3%;
	color:white;
	height:70px;
	text-align: center;
	margin-left:281px;
	margin-top:-70px;
}
label{
	margin:10px 0px 0px 0px;
}
.name{
	margin-top:30px;
	width:200px;
	color:white;
	margin-left:0px;
	font-size:14px;
	font-family:ProximaNova-Semibold;
	text-align:left;
}
.john{
	margin-top:-60px;
	padding-top:13px;
	width:70px;
	color:white;
	text-align:left;
	margin-left:760px;
}
.user{
	border-right:#406289 solid 1px;
	width:8%;
	height:70px;
	position:absolute;
	margin-left:815px;
	margin-top:-41px;
}
.search{
	border-right:#406289 solid 1px;
	width:7%;
	height:70px;
	margin-left:890px;
	margin-top:-41px;
	text-align:center;
}
.exit{
	/*border-right:#406289 solid 1px;*/
	width:8%;
	height:70px;
	margin-left:955px;
	margin-top:-70px;
	text-align:center;
}
.socialbox{
	border-right:#406289 solid 1px;
	width:15%;
	color:white;
	height:70px;
	text-align: center;
}
.social{
	margin-top:26px;
	width:15%;
	color:white;
	position:absolute;
	text-align: center;
	font-size:18px;
	font-family:DejaVu Sans Bold;
}
.exit img{
	height:20px;
	margin-top:10px;
}
.fas.fa-caret-down{
margin-left: 10px;
	font-size:11px;
}
.topbar a {
	text-decoration: none;
	color:white;
   }
  .hr a {
	text-decoration: none;
	color:#97a4b1;
   }
  .hr a:active {
    color: #667a90;
	padding-bottom:21px;
	border-bottom:#4d75a3 solid 4px;
}
.profile{
	background-color: white;
	margin:0px;
    border-radius: 5px 5px 5px 5px;
    padding: 0;
	height:186px;
	box-shadow: 0.5px 0.5px 0 1px rgba(0,0,0,0.1);
	position:relative;
	display:inline-block;
	width:100%;
    } 
#photo{
	border-radius:50%;
	width:90px;
}
.photo{
	text-align:center;
	padding: 51px 20px 51px 45px;
	width:75px;
	float:left;
}
.title{
	padding:51px 0 0 150px;
	font-family:Arial;
	font-size:22px;
	float:left;
	position:absolute;
}
.title img{
	padding-left:5px;
	width:15px;
}
.status{
	margin:46px 0 0 0;
	padding:30px 15px 0 150px;
	width:250px;
	height:75px;
	font-family:Arial;
	font-size:14px;
	color:#8f9dae;
	line-height:20px;
	position:absolute;
	float:left;	
	border-right: 1px #e5e5e5 solid;
}
.statnum  {
	margin-right: 5px;
    padding: 0 17px 0 17px;
	font-size:24px;	
	font-weight:bold;
	color:#4d75a3;
	
	}
.statname {
    margin-right: 5px;
    padding: 15px 14px 14px 14px;
	font-size:12px;	
	color:#4d75a3;
}
table{
	height:50px;
	width:350px;
	margin: 70px 20px 20px 300px;
	float:left;
}
.buttn {
	margin:50px 0 0 800px;
}
#submit_sm {
	width:170px;
	height:40px;
	background-color:#4d75a3;
	color:white;
	border-radius:5px 5px 5px 5px;
	border: 2px solid #4d75a3;
	font-size:14px;
	font-weight:bold;
}
#submit_af{
	width:170px;
	height:40px;
	background-color:white;
	border-radius:5px 5px 5px 5px;
	border: 2px solid #4d75a3;
	margin-top:15px;
	color:#4d75a3;
	font-size:14px;
	font-weight:bold;
}
#verticalBox {
	float:left;
	height:556.5px;
	background-color:white;
	}
.chat{
	width:300px; 
	margin:45px 0 0 45px;
	border-radius:5px 5px 5px 5px;
	box-shadow: 0.5px 1px 0 1px rgba(0,0,0,0.1);
	overflow:hidden;
	float:left;
	background-color:white;
}

.chat_head{
	display: table-cell;
    vertical-align: middle;
	background-color: #4d75a3;
    border: 1px solid #4d75a3;
	border-radius: 3px 3px 0 0;
    padding: 0px 7px 0px 0px;
	height:45px;
	width:300px;
	}
.chat_photo{
	float:left;
	padding: 7.5px 0px 0px 10px;
}
.chat_title {
	padding: 0 0 0 10px;
    float:left;
	color:#fff;
	
    }
.chat_title::after {
 content: ' \25CF';
  font-size: 15px;
}
.chat_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 5px;
	cursor: pointer;
}
.tab_close, .tab_max, .tab_opt, .feed_box_sett {
	float: right;
    padding: 1px;
    margin: 0 5px 0 0;
    cursor: pointer;
	}
.chat_close, .chat_max, .chat_opt, .feed_sett {
	height: 15px;
    width: 15px;
	}
.chat_scrollbar{
	background-color:#e5e5e5;
	border-radius:20px;
	left:auto;
	right:10px;
	width: 5px;
    height: 70px;
    margin-top: 250px;
    position: absolute;
    cursor: pointer;
}

.msg_in {
	padding: 25px 20px 4px 20px;
    position: relative;
	}
.msg_list, .msg_list_out {
	display: table-cell;
    vertical-align: middle;
    background-color: #f2f4f6;
    border: 1px solid #f2f4f6;
    padding: 4px 15px 4px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    max-width: 200px;
	color:#667a90;
	font-size:15px;
	}
.msg_list_out{
	max-width: 230px;
	padding: 10px 10px 10px 20px;
}
.msg_out {
	position:relative;
	padding: 25px 20px 4px 50px;
	}
.msg_time_in, .msg_time_out {
	display: table-cell;
    vertical-align: bottom;
	color:#c6c6c6;
	padding: 4px 1px 3px 20px;
	font-size:8px;
}
.msg_time_out{
	width:300px;
	text-align:right;
	padding: 4px 25px 4px 0;
	}
.msg_date {
	color:#c6c6c6;
	text-align:center;
    font-size:11px;
	padding: 10px 0px 0px 0px;
	width:300px;
}
.msg_date:before, .msg_date:after {
    content: "";
    position: relative	;
    display: inline-block;
    width: 24%;
    height: 1px;
    vertical-align: middle;
    background: #e5e5e5;
    background-clip: content-box;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
.msg_date:after {
    left: 15px;
    margin: 0;
}
.msg_date:before {
    right: 15px;
    margin: 0;
}
.attn img{
	position:relative;
	z-index:1;
	display:block;
	margin:-5px 0 -8px 0;
}
.tab_log_wrap {
	overflow:hidden;
	height:456.5px;
}

.tab_txt_wrap {
	height:50px;
	border-top: 1px solid #e5e5e5;
}
.smile {
	width:17px;
}
.smile_wrap {
	vertical-align:middle;
	text-align:center;
	display:table-cell;
	width:40px;
	height:50px;
	
}
.txt {
	display:table-cell;
	padding:13px 40px 0px 0px;
}
#text {
	height:15px;
	color:#667a90;
	border:none;
	border-left:1px solid #8f9dae;
}
.attach {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:50px;
}
.suggestions{
	width:297px; 
	margin:45px 0 0 45px;
	border-radius:5px 5px 5px 5px;
	box-shadow: 0.5px 1px 0 1px rgba(0,0,0,0.1);
}
.sugname, .feed_name {
	font-size:24px;
	font-weight:lighter;
	display:block;
	padding:21px 0 0px 23px;
	}
.feed_name{
	margin-bottom:30px;
}
.followers, .feeds{
	height:457px;
}
.followers {
	padding-bottom:1px;
}
.follow, .dil_person {
	padding:25px 25px 0 20px;
}
.follow_head{
	display: table-cell;
    vertical-align: middle;
	padding: 0px 7px 0px 0px;
	height:45px;
	width:300px;
}
.follow_photo{
	float:left;
}
.follow_img_online::after {
	content: '';
	background-image:url(image/circle.png);
	width:16px;
	height:16px;
	background-color:white;
	border-radius:50%;
	margin:33px 0px 0 33px;
	position:absolute;
}
.follow a, .feed a{
	text-decoration: none;
}
.follow_title {
	padding: 0 0 0 10px;
    float:left;
	color:black;
	font-weight:700;
	text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;
	width:120px;
}
#status, .last_message {
	color:#97a4b1;
	padding-left:10px;
	line-height:1.5;
	float:left;
	text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;
	width:100px;
	}
.add {
	display: table-cell;
    vertical-align: middle;
	float:right;
	color:#97a3b1;
	border:1px solid #97a3b1;
	border-radius:5px;
	padding:4px 10px;
	margin-top:6px;
	font-size:12px;
	cursor:pointer;
}
.follow_img, .person_img, .msg_author_img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 5px;
	cursor: pointer;
	float: left;
	display: block;
	}
.show_bar {
	display:block;
	background-color:#ebf4fa;
	line-height:50px;
	text-align:center;
	font-size:10px;
	color:#7595b9;
	height:50px;
	border-radius:0 0 5px 5px;
}
.activityfeed{
	width:340px;
	margin:45px 0 0 0;
	border-radius:5px 5px 5px 5px;
	box-shadow: 0.5px 1px 0 1px rgba(0,0,0,0.1);
}
.feed_box_sett {
	padding:0;
}
.feed_sett {
	width:25px;
	height:25px;
}
.feed {
	border-left: 1px solid #e0e0e0;
	margin: 10px 10px 0px 35px;
	padding:0px 15px 0px 20px;
	position: relative;
	}
.feed_last-child {
  border-left: transparent;
}

.feed_title {
	padding:0 0 5px 15px;
	color:#4d75a3;
	font-size:14px;
	}
.feed_title::before {
	content: '';
	width:18px;
	height:18px;
	background-color:white;
	position:absolute;
	display:block;
	left:-10px;
	z-index:1;
}
.feed_image::before {
	background-image:url(image/icons8-картина-18.png);
}
.feed_like::before {
	background-image:url(image/like.png);
}
.feed_friend::before {
	background-image:url(image/icons8-пользователь-filled-18.png);
}
.feed_event::before {
	background-image:url(image/icons8-календарь-18.png);
}
.feed_share::before {
	background-image:url(image/icons8-реклама-filled-18.png);
}
.show_txt::after, .dialog_attach::after {
	content: '';
	background-image:url(image/caret-down.png);
	width:8px;
	height:8px;
	background-color:#ebf4fa;
	position:absolute;
	margin:21px 0 0 5px;
	text-align:center;
}
.news {
	color:#727272;
	line-height:2;
}
.album_img img {
	height:45px;
	width:45px;
	margin-left:5px;
	padding:2px 0 2px 0;
	border-radius:20%;
}
.album_img {
	margin-left:10px;
	padding-bottom:5px;
	}
.feed a {
	color:#4d75a3;
}
.img_link {
	border-left:2px solid #4d75a3;
	padding:0 0 0 0;
	margin:0 -5px 30px 13px;
	}
.img_link img{
	padding:0;
	margin-left:10px;
	float:left;
}
.title_post {
	margin-left:10px;
}
.post_txt {
	height:33px;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
    overflow: hidden;
	color:#727272;
	padding-left:10px;
	line-height:1;
}
.dialogs_block{
	width:100%;
	height:695px;
	margin:45px 0 0 0;
	border-radius:3px 3px 3px 3px;
	box-shadow: 0.5px 1px 0 1px rgba(0,0,0,0.1);
	background-color:white;
	float:left;
	overflow:hidden;
}
.chat_list {
	width:300px;
	height:100%;
	border-right:1px solid #e5e5e5;
	float:left;
}
.chat_list::after {
	content:'';
	display:block;
	height:30px;
	position:relative;
	bottom:70px;
	background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 70%);

}
.dialogs_menu, .message_dialog_menu{
	height:80px;
	line-height:80px;
	padding-right:10px;
	}
.dil_title {
	color:#667a90;
	padding:0px 5px 0px 20px;
	float:left;

	}
.dil_spam, .dil_vol_off, .dil_serch{
	float:right;
	padding-right:10px;
}
.dil_person {
	padding:15px 15px 20px 20px;
	border-bottom:1px solid #ededed;
}
.dialog_unread_box {
	background-color:#ebf4fa;
}
.dialogs {
	padding:0;
	}
.dil_person_name {
	padding: 0 0 0 10px;
    float:left;
	color:black;
	font-weight:700;
	text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;

}
.dil_person_head{
	display: table-cell;
    vertical-align: middle;
	padding: 0px 7px 0px 0px;
	height:45px;
	width:310px;
}
.dil_person_photo{
	float:left;
}
.person_img_online::after {
	content: '';
	background-image:url(image/icons8-заполненный-круг-12.png);
	width:12px;
	height:12px;
	background-color:white;
	border-radius:50%;
	margin:-8px 0 0 37px;
	position:absolute;
}
.person_img_online_unread::after {
	background-color: #ebf4fa;;
}
.emoji {
	width: 15px;
    height: 15px;
    border: none;
    vertical-align: -3px;
    margin: 0 1px;
    display: inline-block;
    overflow: hidden;
}
.dialoge_date {
	float:right;
	color:#b1b1b1;
	font-size:15px;
}
.dialog_unread {
	float:right;
	background-color:#7595b9;
	padding:5px 8px;
	margin-top:12px;
	color:white;
	font-size:11px;
	border-radius:2px;
}
.last_message {
	width:171px;
	font-size:15px;
	padding-top:5px;
}
.message_dialog_box {
	width:726px;
	float:right;
}
.message_dialog_menu {
	width:100%;
	border-bottom:1px solid #e5e5e5;
	}
.mess_person_photo {
	height:62.5px;
	float:left;
	padding:17.5px 0 0 20px;
}
.message_title {
	float:left;
	width:80px;
	height:60px;
	line-height:20px;
	padding:20px 0 0 10px;
	}
.person_name_titile {

}
.person_name_online::before{
	content:'';
	display:block;
	padding:0 4px 0 10px;
	margin-top:4px;
	width:0;
	float:left;
	height:12px;
	background-image:url(image/icons8-сотовый-телефон-15.png);
	}
.follow_title_online{
	padding-left:4px;
	margin-bottom:-1px;
}
.person_name_online {
	color:#777777;
}
.delete_message, .setting_message, .add_friend_message {
	float: right;
	padding-right: 20px;
}
.dialog_log {
	overflow: auto hidden;
	position: relative;
	padding: 20px 10px 15px 10px;
	height: 485px;
	border-bottom: 1px solid #e5e5e5;
}
.dialog_msg_list {
	max-width: 30em;
	border-radius: 10px;
	}
.dialog_msg_list_out {
	max-width: 340px;
}
.dialog_msg_last {
	overflow-wrap: break-word;
}
.dialog_msg_in {
	position: relative;
	float: left;
	}
.dialog_msg_out {
	position: relative;
	float: right;
	margin-right: 20px;
	margin-left: 281px;
}
.dialog_first {
	margin-top: -60px;
}
.msg_author {
	display: table-cell;
	vertical-align: bottom;
	position: relative;
	margin-right: 35px;
}
.msg_author_out {
	padding-left: 15px;
}
.msg_author_img{
	display: table-cell;
	vertical-align: bottom;
	margin-right: 15px;
}
.image_in img {
	width: 130px;
	height: 130px;
	margin-right: 5px;
	border-radius: 5px;
}
.msg_time_in_dialog, .msg_time_out_dialog {
	color:#c6c6c6;
	padding: 10px 1px 10px 60px;
	font-size:12px;
	float: left;
}
.msg_time_out_dialog {
	float: right;
	margin-right: 80px;
	padding-top: 10px;
}
.dialog_input {
	padding: 15px 0 0 15px;
	background-color:#f2f4f6;
	font-size:10px;
	color:#7595b9;
	height:100px;
	border-radius:0 0 0 0;
}
.text_area {
	width: 560px;
	height: 40px;
	line-height: 40px;
	border-radius: 6px;
	background-color: white;
	padding-left: 15px;
	float: left;
	font-size: 15px;
}
.button {
	float: left;
	padding: 0 0 0 15px;
}
.send {
	background-color: #4d75a3;
	width:100px;
	height:40px;
	color:white;
	border-radius:6px;
	border: 2px solid #4d75a3;
	font-size:14px;
	font-weight:bold;
	float: left;
}
.emojies, .dialog_attach {
	padding-top: 7px;
	height: 20px;
	max-width: 300px;
	float: left;
	}
.emojies .emoji {
	height: 17px;
	width: 17px;
}
.vert_line {
	padding-right: 15px;
	border-right: 1px solid #e5e5e5;;
}
.dialog_attach {
	float: right;
	font-size: 14px;
	margin-right: 147px;
}
.dialog_attach::after {
	margin-top: 4px;
}